/* ==UserStyle==
@name           Livejournal black, without ad
@namespace      https://github.com/vitaly-zdanevich/livejournal-com-black
@version        1.1.0
@description    Black, with removed posts recommendations at the bottom
@author         Vitaly Zdanevich
==/UserStyle== */

@-moz-document domain('livejournal.com') {
	.b-menu-tabs .b-menu-item-active, /* https://pessimist2006.livejournal.com/profile */
	.body-content,
	.b-linkbar,
	.b-leaf-header, /* Comment user info */
	.b-leaf-deleted div,
	.b-leaf-poster, /* Comment with "Expand" button */
	.b-massaction /* Bottom bar with "Check all" "COLLAPSE" "EXPAND" */
	{
		background: #000 !important;
	}

	.b-profile-count, /* https://pessimist2006.livejournal.com/profile */
	.b-updateform-bar, /* Adding a comment: toolbar https://masyapiterskiy.livejournal.com/406010.html */
	.reset-0-2-6, /* Top bar from recommendations: prev/next buttons https://masyapiterskiy.livejournal.com/406010.html?utm_campaign=rcm4dcc0491&ila_campaign=recommendations&ila_location=main&ila_context=rcm#rcmrclid=d3e1f2761e5ef705 */
	.b-nav-posts__item:hover, /* Previous and next posts buttons at the bottom */
	.b-leaf-clipped .b-leaf-cheader, /* "Suspended comment" https://morena-morana.livejournal.com/1420345.html */
	.bar-0-2-34 /* Top bar from recommendations */
	{
		background: #222 !important;
	}

	.b-updateform-button-pic /* Adding a comment: toolbar https://masyapiterskiy.livejournal.com/406010.html */
	{
		filter: invert(1);
	}

	.b-linkbar i {
		filter: invert(100%);
	}

	.b-profile-group-body, /* https://pessimist2006.livejournal.com/profile */
	.b-profile-stat-title, /* https://pessimist2006.livejournal.com/profile */
	.ButtonAction-sc-sle5ki-0, /* "In friend list" https://pessimist2006.livejournal.com/profile */
	.g-profile-header__subtitle, /* https://pessimist2006.livejournal.com/profile */
	.b-profile-stat-value, /* https://pessimist2006.livejournal.com/profile */
	.js--classic-comment-form-tab-toggle, /* Button "Back to the old field" https://masyapiterskiy.livejournal.com/406010.html */
	.i-ljuser-username,
	a.root-0-2-8, /* "Add friend" button https://masyapiterskiy.livejournal.com/406010.html */
	.headline-0-2-107 a, /* Previous and next posts buttons at the bottom */
	.headline-0-2-41 h3 a, /* Top bar from recommendations */
	.lj-main-body[contenteditable='true'],
	.b-updatepage,
	.b-leaf-collapsed .b-leaf-meta, /* Comments: date at the right of username */
	h1,
	h4,
	.b-leaf-subject-link, /* https://no-one-asked-us.livejournal.com/49857.html */
	.s-body article {
		color: #bbb !important;
	}

	.tag a /* Categories at the top https://no-one-asked-us.livejournal.com/49857.html */
	{
		color: #000 !important;
	}

	/* https://spooky12.livejournal.com/37313.html */
	span[style='color:#050eb3;'] b {
		color: #88e !important;
	}

	.acomments .b-updateform-buttons-firstsection,  /* Adding a comment: toolbar https://masyapiterskiy.livejournal.com/406010.html */
	.acomments .b-updateform-buttons-secondsection, /* Adding a comment: toolbar https://masyapiterskiy.livejournal.com/406010.html */
	.root-0-2-8, /* Top bar from recommendations: prev/next buttons https://masyapiterskiy.livejournal.com/406010.html?utm_campaign=rcm4dcc0491&ila_campaign=recommendations&ila_location=main&ila_context=rcm#rcmrclid=d3e1f2761e5ef705 */
	.bar-0-2-34, /* Top bar from recommendations */
	.b-updatepage-longheight .b-updatepage-rtebox, /* Post editor old */
	.b-xylem-first, /* Line between a post and comments */
	.b-singlepost-prevnext, /* Line before prex-next post */
	.b-singlepost .category-panel, /* https://no-one-asked-us.livejournal.com/49857.html */
	.b-massaction /* Line after prev-next post */
	{
		border: none !important;
	}

	.aentry-post__socials, /* Bar between title and content - with buttons Like, Comment, Memories - duplicates with top bar on scroll https://masyapiterskiy.livejournal.com/406010.html?utm_campaign=rcm4dcc0491&ila_campaign=recommendations&ila_location=main&ila_context=rcm#rcmrclid=d3e1f2761e5ef705 */
	.pagewide-wrapper, /* Top big ad */
	.b-discoverytimes-wrapper, /* Posts suggestion at the bottom */
	.ljsale,
	footer
	{
		display: none !important;
	}
}
